@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-primary-50: #f8eef1;
  --color-primary-100: #f1dce2;
  --color-primary-200: #e2b8c4;
  --color-primary-300: #d494a6;
  --color-primary-400: #c57088;
  --color-primary-500: #641727;
  --color-primary-600: #571420;
  --color-primary-700: #4a111b;
  --color-primary-800: #3d0e16;
  --color-primary-900: #300b11;
  --color-primary-950: #1b0609;

  --color-secondary-50:  #faf5fa;
  --color-secondary-100: #f3e8f4;
  --color-secondary-200: #e5d1e7;
  --color-secondary-300: #d0add4;
  --color-secondary-400: #b47ab9;
  --color-secondary-500: #92579a;
  --color-secondary-600: #76417d;
  --color-secondary-700: #613565;
  --color-secondary-800: #512e53; /* base */
  --color-secondary-900: #432747;
  --color-secondary-950: #271429;
}
